<%- include("_head")  %>
<%- include("_usuario") %> 
<main>
  
  <h4>Argumentos de entrada : <%- argEntrada %> </h4>
  <h4>Nombre de la plataforma : <%- plataforma %> </h4>
  <h4>Version de NodeJS : <%- version %> </h4>
  <h4>Memoria reservada : <%- memoriaReservada %> </h4>
  <h4>Path de ejecución : <%- pathExec %> </h4>
  <h4>Process id : <%- pid %> </h4>
  <h4>Carpeta del proyecto : <%- carpProyecto %> </h4>
  <h4>Puerto del proyecto : <%- port %> </h4>

</main>

<%- include("_foot")  %>